/* CSS declarations go here */
body {
  font-family: Helvetica;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  width: 600px;
}

.content {
  margin: 20px 0px;
}

.breadcrumb {
  margin: 20px 0px;
}

footer {
}

form {
  overflow: hidden;
}

input[type=text], textarea {
  width: 80%;
}

textarea {
  height: 100px;
}
